body,
html,
#app {
  height: 100%;
  width: 100%;
  background: #f5f5f5;
}
.mu-grid-tile-titlebar {
  background: none !important;
}
.mu-grid-tile.multiline .mu-grid-tile-titlebar {
  height: initial !important;
}
.topul .mu-grid-tile-subtitle {
  text-align: left !important;
}
/* 全局loading背景 */
.mu-loading-wrap {
  background: rgba(255, 255, 255, 1) !important;
  z-index: 999999999;
}
/**分类loading*/
.home_main .mu-loading-wrap {
  z-index: 999999999;
  position: absolute;
  top: 38%;
  left: 45%;
  background: initial !important;
}

.home_main .mu-circular-progress {
  top: 40% !important;
}

.huise {
  background: #bbb !important;
}

.leftright {
  overflow: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}

.mu-switch-checked {
  color: #f24c4c;
}
.distpicker-address-wrapper .address-header ul li,
.distpicker-address-wrapper .address-container ul li {
  color: #333;
}
.distpicker-address-wrapper .address-header ul li.active {
  border-bottom: #f24c4c solid 3px !important;
  color: #f24c4c !important;
}
/* #homelistbox .mu-circular-progress{margin-left: 5% !important;} */
.mu-circle-spinner {
  border-color: #f24c4c !important;
}
.pricecolor {
  color: red;
}
.pricecolor span {
  font-size: .5rem;
}

.demo-text {
  max-height: 2.2rem !important;
  overflow-y: scroll;
}

.type2list .mu-item {
  height: 1.2rem !important;
}

.orderstatusbox .infoboxbut .mu-item {
  height: auto !important;
}
.orderstatusbox .infoboxbut .mu-item-title {
  font-size: .26rem;
}

.dreesMannage .adddress .mu-item {
  height: 1rem !important;
}
.dreesMannage .dresslist .mu-item {
  padding: .3rem !important;
}
.editdress .mu-item {
  padding: .15rem !important;
}
.dreesMannage .mu-list-two-line .mu-item {
  height: auto;
}

/*顶部导航开始*/
.topbox {
  height: .9rem;
  border-bottom: 1px solid #e0e0e0;
  background: #fff;
}
.topbox span {
  float: left;
  padding: .2rem;
}
.topbox img {
  width: .32rem;
  height: .5rem;
}
.topbox p {
  line-height: .9rem;
  font-size: .32rem;
  color: #333;
}
/*顶部导航开始*/

/*弹窗样式修改开始*/
.mu-dialog {
  border-radius: .3rem !important;
}
.mu-dialog {
  position: relative !important;
}
.mu-dialog-title {
  text-align: center !important;
  display: block !important;
  font-size: .32rem !important;
  font-weight: bold !important;
}
.mu-dialog-body {
  color: #999;
  text-align: center !important;
  padding-top: .35rem !important;
  font-size: .28rem !important;
}
.mu-flat-button {
  padding: 0 10px !important;
  border-radius: .3rem !important;
  color: #333 !important;
  font-weight: bold !important;
  margin: auto !important;
  font-size: .32rem !important;
}
.mu-dialog-actions .mu-primary-text-color {
  background: #ffe253 !important;
}
.mu-dialog-actions {
  padding: 8px 8px 15px !important;
}
.mu-dialog-actions .mu-secondary-text-color {
  background: #c3c3c3 !important;
}
.mu-dialog-title {
  padding: 8px 24px 8px !important;
  border-bottom: 1px solid #e0e0e0 !important;
  font-weight: bold !important;
}
.cancelbox {
  position: absolute;
  right: .3rem;
  top: .3rem;
}
.cancelbox img {
  width: 65%;
}
/*弹窗样式修改结束*/

.pm input {
  padding-left: .7rem;
  border-radius: 20px !important;
  color: #333;
}
.pm .material-icons {
  left: .2rem !important;
  top: .1rem;
  color: #c3c3c3;
}
/* .minus{background: #c3c3c3;line-height: .3rem;box-shadow: 1px 2px 1px rgba(199, 199, 199, .5);}
.plus{background: #f24c4c;line-height: .44rem;box-shadow: 1px 2px 1px rgba(199, 49, 49, .5);}
.mpsytl{border-radius: 50%;color: #fff;width: .44rem;height: .44rem;display: inline-block;font-size: .6rem;} */
.saoma {
  display: flex;
}
.saoma span {
  margin-left: .15rem;
  color: #333;
}
.inputitem {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
}
.mu-input {
  padding: 0 !important;
  margin: 0 !important;
  min-height: .66rem !important;
  background: rgba(255, 255, 255, .95);
}
.pm {
  border-bottom: none !important;
}
.mu-popover {
  max-width: 60%;
  box-shadow: none;
  border: 1px solid #999;
}
.mu-select-input {
  font-weight: 100;
  font-size: .14rem;
  padding-left: .1rem;
}
.mu-input-focus-line {
  height: 0 !important;
}
.mu-input {
  padding-top: 0;
  margin-bottom: 0;
}
.mu-input.full-width {
  width: 65%;
  margin-left: 6px;
  float: left;
}
.mu-input-line {
  height: 0 !important;
}
.mu-input.has-icon {
  padding-left: 0 !important;
}
.mu-text-field-input {
  padding-left: .15rem;
}
.widthstyle {
  float: left;
  padding-left: .1rem;
  font-size: .24rem;
}
.midw {
  width: 75%;
}
.mids {
  width: 55%;
}
.mu-raised-button {
  min-width: .65rem !important;
}
.mu-raised-button .mu-button-wrapper {
  padding: 0;
  color: #000;
}

.mu-carousel-indicators {
  margin: .2rem auto;
  height: .3rem !important;
  width: max-content;
  border-radius: .5rem;
}
.adimg .mu-carousel-indicators {
  display: none !important;
}
.mu-carousel-indicator-button {
  margin: 0 .06rem !important;
  height: .3rem !important;
  width: .3rem !important;
}
.mu-carousel-indicator-icon {
  height: 8px !important;
  width: 8px !important;
}

.mu-drawer {
  max-height: 86% !important;
  width: 1.85rem !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #c3c3c3;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #c3c3c3;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #c3c3c3;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #c3c3c3;
}

#search-content .mu-item {
  height: 43px !important;
}
/*detail页面样式修改*/
.mu-appbar-left {
  position: absolute !important;
  height: auto;
}
.mu-appbar-title {
  color: #333;
  font-size: .32rem;
  font-weight: bold;
}
/*.mu-primary-color{background:#ffd947 !important;}*/
.mu-button-wrapper img {
  width: 60%;
}
.mu-elevation-4 {
  box-shadow: none;
}
.home_ban {
  padding-top: 0 !important;
}
.mu-appbar {
  height: .88rem;
}

.carbut .mu-item {
  height: .9rem !important;
}
.detail .carbut .mu-item {
  height: .98rem !important;
}
.detail .settlement {
  height: 50px !important;
}
.carMbox .list-item:after {
  border-bottom: 0 !important;
}
.carMbox .mu-item {
  padding: 0 16px 0 6px !important;
}

.orderlistbox .mu-tab-wrapper {
  font-size: .26rem !important;
}
.orderlistbox .mu-tab-link-highlight {
  height: 0 !important;
}

.homebanner .mu-carousel-indicators {
  margin: .2rem auto .75rem auto !important;
}

.indexbox .mu-item {
  height: initial !important;
}

.searchhomebox .pm input {
  background: #f0f0f0;
  border-radius: 20px;
  height: .65rem;
}

.searchhomebox input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
.searchhomebox input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
.searchhomebox input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
.searchhomebox input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

.qiandan .pm input {
  background: #f0f0f0;
  border-radius: .5rem !important;
}
.mu-elevation-1 {
  box-shadow: initial !important;
}

.distpicker-address-wrapper .address-container ul {
  height: 4rem !important;
  overflow-y: scroll !important;
}

/**购物车*/
.addToCar {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  z-index: 2;
}
.pricecarbox {
  width: 67%;
  background: #fff;
  left: 0;
  position: absolute;
  height: 100%;
}
.pricecarbox > div {
  line-height: 32px;
  text-align: right;
  padding-right: .3rem;
  font-weight: bold;
  font-size: .32rem;
}
.carprice {
  position: absolute;
  left: .8rem;
  font-size: .26rem !important;
  color: #666;
}
.settlement {
  position: absolute;
  right: 0px;
  background: #f24c4c;
  width: 33%;
  height: 45px;
  line-height: 45px;
  color: #fff;
}
.carlistbox {
  padding: .15rem .3rem !important;
}
.carlistbox > ul {
  overflow: hidden;
}
.carimgbox img {
  width: .47rem;
  height: .47rem;
}
.addToCar .mu-list {
  overflow: initial;
}
.carimgbox {
  width: 1rem;
  height: 1rem;
  background: #fff;
  border-radius: 100%;
  margin-top: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
}
.carnum {
  position: absolute;
  top: -.1rem;
  left: .5rem;
  color: #fff;
  background: red;
  line-height: .25rem;
  border-radius: .2rem;
  min-width: .25rem;
  height: .25rem;
  padding: 1px 5px;
  text-align: center;
}
.qigou {
  position: absolute;
  right: .3rem;
  bottom: -.36rem;
  font-size: .22rem;
  color: #999;
}
.opentab {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: .1rem;
}
.detail .addToCar .mu-item {
  padding: 0 !important;
}
.dInfobox .mu-item {
  height: auto !important;
}

.fanallcar {
  position: absolute;
  top: .1rem;
  left: .8rem;
  letter-spacing: 0;
  color: #fff;
  background: red;
  line-height: .28rem;
  border-radius: .2rem;
  min-width: .25rem;
  height: .28rem;
  padding: 1px 4px;
  text-align: center;
}
.detail .fanallcar {
	top: .05rem;
    left: .35rem;
  }
.imgsearch {
  position: absolute;
  left: .4rem;
  top: 16px;
  z-index: 9;
  width: 20px;
  height: 20px;
}
.searchhomebox .mu-primary-color {
  background: #f24c4c !important;
}
.searchhomebox .mu-appbar-title {
  color: #fff;
}

.kcstyle {
  color: #a9a9a9;
  font-size: .2rem;
  /* padding-left: .2rem; */
}
.oftenbuy .kcstyle {
	padding-left: .2rem;
  }
@media screen and (max-width: 325px) {
  .orderlistbox li {
    font-size: 12px;
  }
  .mu-tab-wrapper {
    padding: 7px;
  }
}


